
@media only screen and (max-width:320px) {
  #services .services-learn-more .btn-learn {
    font-size: 12px !important;
  }
}

@media only screen and (max-width:640px) {
  header .logo {
    text-align: center;
    margin-top: 60px;
  }

  header .content-header {
    margin-top: 30px;
  }

  header .content-header h1 {
    font-size: 28px;
    line-height: normal;
  }

  header .content-header p {
    font-size: 14px;
    line-height: normal;
  }

  header .subcribes {
    padding: 20px 20px;
  }

  header .subcribes .subcribes-left .btn,
  header .subcribes .subcribes-left .form-control {
    height: 40px;
    margin-bottom: 15px;
  }

  header .subcribes .subcribes-left .form-control {
    border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
       -moz-border-top-left-radius: 6px;
         -o-border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-bottom-left-radius: 6px;
         -o-border-bottom-left-radius: 6px;
  }

  header .subcribes .subcribes-left .btn {
    border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
       -moz-border-top-right-radius: 6px;
         -o-border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-bottom-right-radius: 6px;
         -o-border-bottom-right-radius: 6px;
  }

  header .subcribes .subcribes-left .form-control[placeholder] {
    font-size: 10px;
  }

  header .subcribes .subcribes-right .btn-buy {
    height: 40px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
    font-size: 14px;
  }

  #services .services-title {
    margin-bottom: 30px;
  }

  #services .services-title h3 {
    font-size: 18px;
  }

  #services .services-learn-more {
    margin-top: 30px;
    text-align: center;
  }

  #services .services-learn-more .btn-learn {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (min-width:768px) and (max-width:980px) {

  header .content-header {
    margin-top: 60px;
  }

  header .content-header h1 {
    font-size: 38px;
    line-height: normal;
  }

  header .content-header p {
    font-size: 16px;
    line-height: normal;
  }

  header .subcribes .subcribes-left {
    margin-bottom: 20px;
  }

  #services .tile-item .tile-header p {
    font-size: 10px;
  }

  #services .btn-learn {
    margin: 0 auto !important;
    font-size: 12px;
  }
}
