/*
  Author    : Candra Dwi Waskito;
  Created   : 4 November 2015;
  Website   : http://candrawaskito.com;
  Version   : 0.1
*/

/*FONTS*/

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans/opensans-italic-webfont.eot');
    src: url('../fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans/opensans-light-webfont.eot');
    src: url('../fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans/opensans-bold-webfont.eot');
    src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*fonts face myriadpro*/

@font-face {
  font-family: 'MyriadPro-Regular';
  src:  url('../fonts/myriadpro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriadpro/MyriadPro-Regular.otf')  format('opentype'),
	      url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/myriadpro/MyriadPro-Regular.ttf')  format('truetype'),
        url('../fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/myriadpro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/myriadpro/MyriadPro-Semibold.otf')  format('opentype'),
	     url('../fonts/myriadpro/MyriadPro-Semibold.woff') format('woff'),
       url('../fonts/myriadpro/MyriadPro-Semibold.ttf')  format('truetype'),
       url('../fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*GENERAL*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'open_sansreguler', sans-serif;;
  font-size: 18px;
}

/*HEADER*/

header {
  background: url('../img/bg-header.jpg') no-repeat center top;
  height: auto;
  padding: 80px 0 40px;
}

header .logo {
}

header .content-header {
  margin-top: 200px;
  margin-bottom: 10px;
}

header .content-header h1 {
  font-family: 'MyriadPro-Regular', sans-serif;;
  font-size: 46px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 17px;
}

header .content-header p {
  color: #fff;
  font-family: 'MyriadPro-Regular',sans-serif;
  font-size: 23px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

header .subcribes {
  padding: 10px 80px;
}

header .subcribes .subcribes-left .form-control,
header .subcribes .subcribes-left .btn {
  height: 60px;
}

header .subcribes .subcribes-left .form-control {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
     -moz-border-top-left-radius: 10px;
       -o-border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
     -moz-border-bottom-left-radius: 10px;
       -o-border-bottom-left-radius: 10px;
  padding-left: 25px;
  color: #555555 !important;
  box-shadow: none;
  border-color: #fff;
}

header .subcribes .subcribes-left .form-control:hover,
header .subcribes .subcribes-left .form-control:hover,
header .subcribes .subcribes-left .form-control:active {
  box-shadow: none;
  border-color: #fff;
}

header .subcribes .subcribes-left .form-control[placeholder] {
  font-style: italic;
  font-size: 14px;
  color: #555555 !important;
}

header .subcribes .subcribes-left .btn {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #99cc01;
  border: 1px solid #99cc01;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
     -moz-border-top-right-radius: 10px;
       -o-border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
     -moz-border-bottom-right-radius: 10px;
       -o-border-bottom-right-radius: 10px;
  border-color: #99cc01;
}

header .subcribes .subcribes-right .btn-buy {
  background-color: #99cc01;
  font-family: 'open_sansreguler', sans-serif;
  color: #fff;
  font-size: 22px;
  height: 60px;
  border-radius: 12px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
       -o-border-radius: 10px;
  border: 1px solid #99cc01;
}

/*SERVICES*/

#services {
  padding: 30px 60px 150px 60px;
}

#services .services-title {
  margin-bottom: 60px;
}

#services .services-title h3 {
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 28px;
}

#services .services-content .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

#services .tile-item {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

#services .tile-item .tile-fixed-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#services .tile-header {
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#services .tile-header .title {
  font-family: 'open_sansregular', sans-serif;
  font-size: 14px;
}

#services .tile-header p {
  margin-top: 10px;
  font-family: 'open_sansregular', sans-serif;
  font-size: 12px;
}

#services .tile-item > img {
  width: 100%;
}

#services .tile-item .tile-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px 40px;
}

#services .tile-item .tile-caption .btn-offers {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'open_sanslight', sans-serif;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#services .tile-item .tile-caption .btn-offers:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#services .tile-item .tile-caption .btn-offers img {
  margin-left: 10px;
}

#services .services-learn-more {
  margin-top: 65px;
}

#services .btn-learn {
  background-color: #99cc01;
  color: #fff;
  padding: 12px 100px;
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 20px;
}

#services .btn-learn:hover,
#services .btn-learn:focus,
#services .btn-learn:active {
  color: #fff;
  opacity: 0.9;
}
